<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kmware.hrm"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="10" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity android:name="com.kmware.hrm.SplashScreen"
            android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ListContainer"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity android:name="DashboardDesignActivity" >
        </activity>
        <activity android:name="Login" >
        </activity>
        <activity android:name=".preferences.PrefActivity" >
        </activity>
        <activity
            android:name="EditPeople"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="EditProject"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="EditPosition"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="EditInterview"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity android:name="InterviewGuest"></activity>
        <activity android:name="PeopleInfo"></activity>
        <activity android:name="ProjectInfo"></activity>
        <activity android:name="PositionInfo"></activity>
    </application>

</manifest>